<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EJS Is Fun</title>
</head>
<body>
  <main>
      <div>
          <h1>A multer upload</h1>
          <p>Choose a file</p>
          <form method="POST" enctype="multipart/form-data" action="uploaddufichier">
            <input 
              type="file" 
              name="monfichier"
              accept="image/png"
              required
              multiple
            >
            <button> envoyer </button>
        </form>
      </div>
  </main>

</body>
</html>